<section class="container sandwich">
	<div class="form-base-styling">
		<%= form_with( local: true, url: sessions_path) do |form| %>
			<div class="field">
				<%= form.label :username , :class => "label-style"%>
			    <%= form.text_field :username %>
			</div>

			<div class="field">
			    <%= form.label :password , :class => "label-style"%>
			    <%= form.password_field :password %>
			</div>

			<div class="field">
				<%= link_to 'Forgot Password ?', get_user_path %>	
			</div> 

			<div class="actions">
		    	<%= form.submit "Login", :class => "label-style" %>
		    </div>
		<% end %>
	</div>
</section>

