<section>
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-12">
				<p>Hello <%= @user.username %>!</p>
				<p><strong>Before update:</strong></p>
				<p><strong>Name:</strong><%= @before_item.name %></p>
				<p><strong>Quantity:</strong><%= @before_item.quantity %></p>
				<p><strong>Price:</strong><%= @before_item.price %></p>
				<p><strong>After update:</strong></p>
				<p><strong>Name:</strong><%= @item.name %></p>
				<p><strong>Quantity:</strong><%= @item.quantity %></p>
				<p><strong>Price:</strong><%= @item.price %></p>
			</div>
		</div>
	</div>
</section>