<section class="container sandwich">
  <div class="">
    <% @orders.each do |ord| %>
      <div class="soldrow-styling">
        <div class="row">
          <div class="col-lg-3 img-st-dim">
            <%= link_to user_item_path(ord.user,ord.item) do %>
              <%= render 'img', item: ord.item %>
            <% end %> 
          </div>          
          <div class="col-lg-3">
            <h3><%= ord.item.name %></h3>
            <h5>Rs. <%= ord.item.price %></h5>
          </div>
          <div class="col-lg-3">
            <h4>Bought quantity: <%= ord.quantity %></h4>
            <h6>Order purchased on <%= ord.created_at.in_time_zone("Chennai").strftime("%d/%m/%y %I:%M%p") %></h6>
          </div>
          <div class="col-lg-3 img-st-dim">
            <%= link_to user_item_path(ord.user,ord.item) do %>
              <div class="button-style">
                <span class="size-inc2">Buy Again</span>
              </div>
            <% end %>
            <%= link_to user_item_path(ord.user,ord.item) do %>
              <div class="button-style size-inc">
                <span class="size-inc2">Write Review</span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</section>