<section class="container sandwich">
	<div class="row">
		<div class="col-lg-6">
			<h3>
			  <strong>Username:</strong>
			  <%= @user.username %>
			</h3>

			<h4>
			  <strong>Balance:</strong>
			  Rs. <%= @user.balance %>
			</h4>

			<%= link_to 'Edit', edit_user_path(@user) %> |
			<%= link_to 'Back', user_items_path(@user) %> |
			<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
		<div class="col-lg-6">
			<%= link_to add_money_path(@user) do %>
				<div class="btn-st">
					<span>Add Money</span>
				</div>
			<% end %>
		</div>
	</div>
</section>