  <section class="container sandwich">
    <% @orders.each do |ord| %>
      <div class="soldrow-styling">
        <div class="row">
          <div class="col-lg-3 img-st-dim">
            <% if ord.item.item_img.attached? %>
              <image src="<%=(  url_for(ord.item.item_img) )%>" class="img-styling-3">
            <% end %>
          </div>
          <div class="col-lg-3">
            <h3><%= ord.item.name %></h3>
            <h5>Rs. <%= ord.item.price %></h5>
          </div>
          
          <div class="col-lg-3">
            <h4>quantity: <%= ord.quantity %></h4>
            <p class="size-inc">Item sold on <%= ord.created_at.in_time_zone("Chennai").strftime("%d/%m/%y %I:%M%p") %></p>
          </div>
          <div class="col-lg-3">
            <!-- <div class="button-style">
              <p>Read Review</p>
            </div>
            <div class="button-style"
>              <p></p>
            </div> -->
          </div>
        </div>
      </div>
    <% end %>
    <%= will_paginate @orders, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</section>