<section class="container sandwich">
	<% if @cart.cart_order.empty? %>
		<h2>Cart is Empty !!</h2>
		<%= link_to "Back", user_items_path(current_user) %> 
	<% else %>
		<% @cart.cart_order.each do |ord| %> 
			<div class="row soldrow-styling2">
				<div class="col-lg-3 img-st-dim">
					<%= link_to user_item_path(getCurrentUser,ord.item_id) do %>	              		
	              		<% if getItem(ord.item_id).item_img.attached? %>
							<image src="<%=(  url_for(getItem(ord.item_id).item_img) )%>" class="img-styling">
						<% end %>
	            	<% end %> 
				</div>
				<div class="col-lg-3">
					<h3><%= getItem(ord.item_id).name %></h3>
					<h5>Rs.<%= getItem(ord.item_id).price %></h5>
					<div class="display-inline">
						<h6>Sold by <%= getItem(ord.item_id).user.username %></h6>
						<% if getItem(ord.item_id).quantity > 0 %>
							<h6 class="green-alert">In stock</h6>
						<% end %>
					</div>
						
				</div>
			</div>
		<% end %>
		<div class="buyall-button">
			<%#= link_to buyall_path, method:"post" do %>
				<!-- <div class="btn-st">
					<h5>Proceed To buy all</h5>
				</div> -->
			<%# end %>
		</div>
		
	<% end %>
</section>