<section class="sandwich container">
	<div class="">
		<h3>Order confirmation</h3>
	</div>
	<% if @cart.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this order from being saved:</h2>
        <ul>
        <% @cart.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <ol>
	<% @orders.each do |ord| %>
	<li>
		<div class="row">
			<div class="col-lg-6">
				<span class="size-inc2"><strong>Item: </strong><%= ord.item.name %></span>
				<br>
				<span class="size-inc2"><strong>Quantity: </strong><%= ord.quantity %></span>
				<br>
				<span class="size-inc2">sold by <%= ord.item.user.username %></span>		
			</div>
		</div>
	</li>
	<% end %>
	</ol>
</section>