<section class="container-fluid">
  <div class="search-styling sandwich">
    <%= form_with(url: search_path , local: true ) do |form| %>
      <%= form.text_field :search %>
      <%= form.submit "Search" %>
    <% end %>
  </div>
</section>

<section class="container">
  <div class="row sandwich">
    <% @items.each do |item| %>
      <% if item.user != @user %>
        <%= link_to user_item_path(@user,item) do %>
          <div class="width-alt col-lg-3">
            <div class="card extra-padding">
              <div class="img-st-dim">
                <% if item.item_img.attached? %>
                  <image src="<%=(  url_for(item.item_img) )%>" class="img-styling">
                <% end %>
              </div>
              <div class="card-body">
                <h4 class="card-title"><%= item.name %></h4>
                <h2 class="card-text">Rs. <%= item.price %></h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>  
    <% end %>
  </div>
  <%= will_paginate @items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</section>

