<section class="container">
  <div class="row sandwich">
    <div class="col-lg-6">
      <% if @item.item_img.attached? %>
        <image src="<%=(  url_for(@item.item_img) )%>" class="img-styling-2">
      <% end %>
    </div>
    <div class="col-lg-6">
      <h4>
        <%= @item.name %>
      </h4>

      <h2>Rs.
        <%= @item.price %>
      </h2>

      <% if @item.comments.exists? %>
        <div class="display-inline3">
          <% (1..getAverageRating(@item).to_i).each do %>
            <%= image_tag("star.png", :class => "star-img") %>
          <% end %>
          <% if getAverageRating(@item).ceil(0)-getAverageRating(@item).to_i == 1 %>
            <%= image_tag("half-star.png", :class => "star-img") %>
          <% end %>
          <% (getAverageRating(@item).ceil(0)+1..5).each do %>
            <%= image_tag("star_dull.png", :class => "star-img") %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <h5 class="size-inc"><%= getAverageRating(@item) %> out of 5</h5>
        </div>
      <% end %>

      <h6>
        <strong>Quantity left:</strong>
        <%= @item.quantity %>
        &nbsp;&nbsp;&nbsp;&nbsp;!!! Hurry Up !!!
      </h6>

      <h6>
        <strong>Seller:</strong>
        <%= @item.user.username %>
      </h6>

      <%= form_with(model: @order, url: user_item_orders_path(getCurrentUser,@item) , local: true) do |form| %>
        <% if @order.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
            <ul>
            <% @order.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= form.number_field :quantity, placeholder: " Quantity " %>
        
        <%= form.submit "Buy" %> |  
        <%= link_to 'Back', user_items_path %>
        
      <% end %>
    </div>
  </div>

  <section class="container">
    <div class="row sandwich">
      <div class="col-lg-6">
        <div class="sandwich">
          <h3>Add Comment</h3>
          <%= form_with(model: @comment, url: user_item_comments_path(getCurrentUser,@item) , local: true)  do |form| %>
            <% if @comment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
                <ul>
                <% @comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="display-inline">
              <%= form.text_field :body, placeholder: " Comment " %>&nbsp;&nbsp;&nbsp;
              <%= form.number_field :rating, step: :any, :class => "rat-st" %>&nbsp;<span class="rat-st2">/5</span>&nbsp;&nbsp;&nbsp;
              <br>
              <%= form.submit "Add" %>
            </div>  
          <% end %>
        </div>
        <div class="sandwich">  
            <% @item.comments.each do |cmt| %>
              <div class="cmt-styling">
                <div class="display-inline2">
                  <h4 class="heading-cmt"><%= cmt.user.username %></h4>
                  <% if @item.orders.exists?(user_id: cmt.user.id, item_id: cmt.item.id) %>
                    <span class="redit">*verified purchase</span>
                  <% end %>
                </div>
                <div class="display-inline3">
                  <% (1..cmt.rating.to_i).each do %>
                    <%= image_tag("star.png", :class => "star-img") %>
                  <% end %>
                  <% if cmt.rating.ceil(0)-cmt.rating.to_i == 1 %>
                    <%= image_tag("half-star.png", :class => "star-img") %>
                  <% end %>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <h5 class="size-inc"><%= cmt.rating %> out of 5</h5>
                </div>
                <div class="">
                  <h5><%= cmt.body %></h5>
                  <span>Comment created on <%= cmt.created_at.in_time_zone("Chennai").strftime("%d/%m/%y %I:%M%p") %></span>
                </div>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </section>
  
</section>