<section class="container">
  <div class="row sandwich">
    <div class="col-lg-6">
      <%= render 'items/img-big', item: @item %>
    </div>
    <div class="col-lg-6">
      <h4>
        <%= @item.name %>
      </h4>

      <h2>Rs.
        <%= @item.price %>
      </h2>

      <% if @item.comments.exists? %>
        <div class="display-inline3">
          <% (1..getAverageRating(@item).to_i).each do %>
            <%= image_tag("star.png", :class => "star-img") %>
          <% end %>
          <% if getAverageRating(@item).ceil(0)-getAverageRating(@item).to_i == 1 %>
            <%= image_tag("half-star.png", :class => "star-img") %>
          <% end %>
          <% (getAverageRating(@item).ceil(0)+1..5).each do %>
            <%= image_tag("star_dull.png", :class => "star-img") %>
          <% end %>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <h5 class="size-inc"><%= getAverageRating(@item) %> out of 5</h5>
        </div>
      <% end %>

      <h6>
        <strong>Quantity left:</strong>
        <%= @item.quantity %>
        &nbsp;&nbsp;&nbsp;&nbsp;!!! Hurry Up !!!
      </h6>

      <h6>
        <strong>Seller:</strong>
        <%= @item.user.username %>
      </h6>


      <!-- FORM TO GET QUANTITY -->
      <%= form_with(url: user_item_cart_orders_path(getCurrentUser,@item), method: "post" , local: true) do |form| %>
        <% if @cart.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@cart.errors.count, "error") %> prohibited this order from being saved:</h2>
            <ul>
            <% @cart.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        <%= form.number_field :quantity, in: 1..@item.quantity, placeholder: " Quantity ", :class=>"quantity-st" %>
        
        <%= form.submit "Add to Cart" %> |  
        <%= link_to 'Back', user_items_path %>
        
      <% end %>
    </div>
  </div>

  <section class="container">
    <div class="row sandwich">
      <div class="col-lg-6">
        <div class="sandwich">
          <h3>Add Comment</h3>
          <%= form_with(model: @comment, url: user_item_comments_path(getCurrentUser,@item) , local: true)  do |form| %>
            <% if @comment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
                <ul>
                <% @comment.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
                </ul>
              </div>
            <% end %>
            <div class="display-inline">
              <%= form.text_area :body, placeholder: " Comment ", size: "24x1.5" %>&nbsp;&nbsp;&nbsp;
              <%= form.number_field :rating, in: 1..5, step: :any, :class => "rat-st" %>&nbsp;<span class="rat-st2">/5</span>&nbsp;&nbsp;&nbsp;
              <br>
              <%= form.submit "Add" %>
            </div>  
          <% end %>
        </div>
        <div class="sandwich">  
            <% @item.comments.each do |cmt| %>
              <%= render 'items/comment', cmt: cmt %>
            <% end %>
        </div>
      </div>
    </div>
  </section>

  <section class="sandwich">
    <div class="container">
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-lg-2">
            <% if item.comments.exists? %>
              <% if getAverageRating(item).ceil(0) >= 3 %>
                <div class="">
                  <% if item.item_img.attached? %>
                    <image src="<%=(  url_for(item.item_img) )%>" class="img-styling-final">
                  <% end %>
                </div>
                <h3><%= item.name %></h3>
                <div class="display-inline3">
                  <% (1..getAverageRating(item).to_i).each do %>
                        <%= image_tag("star.png", :class => "star-img") %>
                  <% end %>
                  <% if getAverageRating(item).ceil(0)-getAverageRating(item).to_i == 1 %>
                    <%= image_tag("half-star.png", :class => "star-img") %>
                  <% end %>
                  <% (getAverageRating(item).ceil(0)+1..5).each do %>
                    <%= image_tag("star_dull.png", :class => "star-img") %>
                  <% end %>
                  <span class="size-inc"><%= getAverageRating(item) %> / 5</span>
                </div>
                <h2 class="card-text">Rs. <%= item.price %></h2>
              <% end %>
            <% end %>          
          </div>
        <% end %>
      </div>
    </div>
  </section>
  
</section>