<!DOCTYPE html>
<html>
  <head>
    <title>EcomApp</title>
    <!-- <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <%#= stylesheet_link_tag    'application' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <%#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js' %>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application' %>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>

  <body class="overall-alteration">
    <% if current_user %>
        <nav class="nav-stling navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'Home', user_items_path(current_user) , :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Profile', user_path(current_user), :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sold', "/users/#{current_user['id']}/sold", :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Bought', "/users/#{current_user['id']}/orders", :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Your Items', "/users/#{current_user['id']}/your_items", :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Add Products', new_user_item_path(current_user) , :class => "fonty nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to user_cart_path(current_user, current_user.cart) do %>
                  <%= image_tag("cart.png", :class => "cart-st") %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", logout_path, :class => "fonty extra-effect nav-link" %>
              </li>
            </ul>
          </div>
        </nav>
    <% else %>
        <nav class="nav-stling navbar navbar-expand-lg navbar-light bg-light">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Sign up", signup_path, :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log In", login_path, :class => "fonty extra-effect"  %>
              </li>
            </ul>
          </div>
        </nav>
    <% end %>



    <%= yield %>
  </body>
</html>
