<!DOCTYPE html>
<html>
  <head>
    <title>EcomRedisApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css'  %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="overall-alteration">
    <% if current_user %>
    
      <header class="border_styling">
        <nav class="nav-stling navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse container" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to 'Home', user_items_path(current_user) , :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Profile', user_path(current_user), :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Sold', "/users/#{current_user['id']}/sold", :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Bought', "/users/#{current_user['id']}/orders", :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Your Items', "/users/#{current_user['id']}/your_items", :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to 'Add Products', new_user_item_path(current_user) , :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to user_cart_path(current_user, current_user.cart) do %>
                  <%= image_tag("cart.png", :class => "cart-st") %>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to "Log out", logout_path, :class => "fonty extra-effect" %>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    <% else %>
      <header class="border_styling">
        <nav class="nav-stling navbar navbar-expand-lg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse container" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to "Sign up", signup_path, :class => "fonty" %>
              </li>
              <li class="nav-item">
                <%= link_to "Log In", login_path, :class => "fonty extra-effect"  %>
              </li>
            </ul>
          </div>
        </nav>
      </header>
    <% end %>



    <%= yield %>
  </body>
</html>
